<!doctype html>
<html lang="en">
  <head>
    <title>{{ page.song_title }} &bull; Marcus Whybrow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{{ page.song_title }}{% if page.song_author %} by {{ page.song_author }}{% endif %}.">
    <link rel="stylesheet" href="https://use.typekit.net/ydk2vlq.css">
    <link rel="stylesheet" type="text/css" href="assets/song.css">
  </head>
  <body>
    <!-- <a id="banner" href="./">Songs</a> -->

    <article>
      <header>
        {% assign slug = page.url | split: '/' | last | split: '.' | first %}
        <h1 class="{{ slug }}">{{ page.song_title }}</h1>
        {% if page.song_author %}<address>{{ page.song_author }}</address>{% endif %}
      </header>

      <div id="render">
        <div id="banner">
          <div><a href="/songs/">Songs</a></div>
        </div>
        <div id="loading">. . .</div>
      </div>
{{ content }}
    </article>
  </body>

  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
  <script type="module" src="/scripts/tab-engine/main.js"></script>
</html>
